h3{
 font-family:Arial, sans-serif;
}
img {
  width: 300px;
  height: 200px;
}

.box {
  border: 2px solid #008080;
  width: 300px;
  padding:10px;
   border-radius:20px;
  background-color:#b0c4de; 
}
.boxx{
  padding:10px;
  border-radius:20px;
  border: 2px dashed #5f9ea0; 
 font-family:Papyrus;
}
span{
  font-weight:bold;
}
ul{
  list-style:none;
}
